html {
    color: #8B67FF;
    background-color: #000;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.App {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0rem;
}

.NavItem {
    padding-right: 1rem;
}

.NavItem:hover {
    color: blue;
}

.PortfolioName {
    opacity: 0.0;
    font-size: 3rem;
    margin-top: 10rem;
}

.move-to-top {
    margin-top: 1rem;
    transition-property: all;
    transition-duration: 2s !important;
    transition-delay: 100ms !important;
}

.move-nav {
    margin-left: 20rem;
    margin-top: -2rem;
    transition: margin-left 1s linear 2s, margin-top 500ms linear 3s !important;
}

.PortfolioNav {
    opacity: 0.0;
}

.fade-in {
    opacity: 1.0;
    transition-property: all;
    transition-duration: 1.5s;
    transition-delay: 0.3s;
}

.active-nav-item {
    color: gray;
    transition: color 200ms;
}

.Resume {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    padding-left: 15rem;
    margin-right: 15rem;
}

.ResumeItem {
    margin-left: 2rem;
}

.ResumeItem-title {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.ResumeItem-subtitle {
    margin-top: 0rem;
    font-style: italic;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.ResumeItem-spec {
    margin-top: 0rem;
}


/* Don't recolor when hovering over active item */
.active-nav-item:hover {
    color: gray !important;
}
