html {
    color: #8B67FF;
    background-color: #000;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.App {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 10rem;
}

.NavItem {
    padding-right: 1rem;
}

.PortfolioName {
    opacity: 0.0;
    font-size: 3rem;
}

.PortfolioNav {
    opacity: 0.0;
}

.fade-in {
    opacity: 1.0;
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-delay: 0.3s;
}
